@media (min-width: 768px){
  #left {
    position: absolute;
    top: 20%;
    bottom: 0;
    left: 0;
    width: 10%;
    overflow-y: scroll; 
  }

  #middle {
    position: absolute;
    top: 20%;
    bottom: 0;
    left: 10%;
    overflow-y: scroll;
    width: 70%;
  }
  
  #right {
    position: absolute;
    top: 20%;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    width: 20%;
  }

  #bottom {
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    width: 20%;
  }
}

#left {
  background-color: rgb(200, 194, 218);
  text-align: center;
  height:80%;
}

#right {
  height:100%;
  background-color: rgb(175, 215, 230);
  text-align: center;
}

#middle {
    height:80%;
    background-color: rgb(196, 196, 196);
    text-align: center;
  }

  #bottom {
    height:20%;
    background-color: rgb(196, 196, 196);
    text-align: center;
  }